/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4c0bce;
  --ifm-color-primary-dark: #440ab9;
  --ifm-color-primary-darker: #4109af;
  --ifm-color-primary-darkest: #350890;
  --ifm-color-primary-light: #540ce3;
  --ifm-color-primary-lighter: #570ded;
  --ifm-color-primary-lightest: #6b27f3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #712cf9;
  --ifm-color-primary-dark: #5e10f8;
  --ifm-color-primary-darker: #5607f2;
  --ifm-color-primary-darkest: #4706c7;
  --ifm-color-primary-light: #8448fa;
  --ifm-color-primary-lighter: #8e57fa;
  --ifm-color-primary-lightest: #ab81fb;
}
